[Desktop Entry]
Categories=Utility
Exec=/usr/bin/dde-introduction
GenericName=Introduction
Icon=dde-introduction
Name=Deepin Introduction
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[ar]=المقدمة
GenericName[ast]=Introducción
GenericName[bg]=Въведение
GenericName[bn]=পরিচয়
GenericName[ca]=Introducció
GenericName[cs]=Úvod
GenericName[da]=Introduktion
GenericName[de]=Einführung
GenericName[en_GB]=Introduction
GenericName[es]=Introducción
GenericName[es_419]=Introducción
GenericName[fi]=Johdanto
GenericName[fr]=Introduction
GenericName[hi_IN]=परिचय
GenericName[hr]=Uvod
GenericName[hu]=Bemutatkozás
GenericName[id]=Pengenalan
GenericName[it]=Introduzione
GenericName[ja]=イントロダクション
GenericName[kn_IN]=ಪರಿಚಯ
GenericName[ko]=소개
GenericName[lo]=ການແນະນໍາ
GenericName[lt]=Įžanga
GenericName[ms]=Pengenalan
GenericName[ne]=परिचय
GenericName[nl]=Introductie
GenericName[pl]=Wprowadzenie
GenericName[pt]=Introdução
GenericName[pt_BR]=Introdução
GenericName[ro]=Introducere
GenericName[ru]=Введение
GenericName[sk]=Úvod
GenericName[sq]=Hyrje
GenericName[sr]=Представљање
GenericName[tr]=Tanıtım
GenericName[uk]=Вступ
GenericName[zh_CN]=欢迎
GenericName[zh_TW]=介紹
Name[ast]=Deepin Introduction
Name[bg]=Deepin въведение
Name[bn]=ডিপিন  পরিচয়
Name[ca]=Introducció al Deepin
Name[da]=Deepin introduktion
Name[de]=Einführung in Deepin
Name[es]=Introducción a Deepin
Name[es_419]=Introducción de Deepin
Name[fr]=Introduction de Deepin
Name[id]=Pengenalan Deepin
Name[it]=Introduzione a Deepin
Name[ja]=Deepin イントロダクション
Name[ko]=Deepin 소개
Name[lo]=ການແນະນໍາ ດີບປີນ
Name[lt]=Deepin įžanga
Name[ms]=Pengenalan Deepin
Name[ne]=डिपिन परिचय
Name[nl]=Deepin Introductie
Name[pl]=Wprowadzenie do systemu Deepin
Name[pt]=Deepin Introduction
Name[pt_BR]=Introdução ao Deepin
Name[ro]=Introducere Deepin
Name[ru]=Введение в Deepin
Name[sq]=Hyrje Deepin
Name[sr]=Дипин Представљање
Name[tr]=Deepin Tanıtımı
Name[uk]=Вступ до Deepin
Name[zh_CN]=欢迎
Name[zh_TW]=Deepin 介紹

