[Desktop Entry]
Categories=Utility
Exec=/usr/bin/dde-introduction
Icon=dde-introduction
Name=Deepin Introducation
Name[zh_CN]=系统欢迎界面
Type=Application
